<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" style="color: blue;"> <img src="assets/logo.png" alt="Best practices" width="60"> </a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <nav class="nav justify-content-center">
      <a *ngFor="let item of navItems" class="nav-link" routerLink="/{{item.link}}" routerLinkActive="active" [ngClass]="{'d-none': !item.users.includes(role)}">
        {{item.name}}
      </a>
    </nav>
    <form class="form-inline my-2 ml-auto">
      <em class="fa fa-crown text-warning mr-2" *ngIf="role=== 'ADMINISTRATOR'"></em>
      <p class="nav-link my-2 my-sm-0 logout-btn" (click)="logout()"><i class="fa fa-user"></i> Log Out</p>
    </form>
  </div>
</nav>
