<div class="container">
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="shadow mb-5 bg-white rounded">
      <div class="px-5 px-md-5 pt-0">
        <div class="w-100 text-center pt-3">
          <img src="assets/logo.png" alt="sopra rh" width="40%">
        </div>
        <div class="d-flex">
          <div class="w-100">
            <h3 class="mb-4">Sign Up</h3>
          </div>
        </div>
        <form action="#" class="signin-form" #registerForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-placeholder" for="fullName">Full name</label>
                <input id="password-field" type="text" name="fullName" id="fullName" class="form-control" ngModel required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="form-control-placeholder" for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" ngModel required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-placeholder" for="emailUser">Email</label>
                <input type="text" class="form-control" name="emailUser" id="emailUser" ngModel required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-placeholder" for="phoneNumberUser">Phone number</label>
                <input id="password-field" type="number" name="phoneNumberUser" id="phoneNumberUser" class="form-control" ngModel required>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="form-control-placeholder" for="cinUser">Role</label>
            <select name="role" id="role" class="form-control" ngModel required>
              <option value="VALIDATOR">Validator</option>
              <option value="TA">TA</option>
              <option value="FA">FA</option>
              <option value="ADMINISTRATOR">Admin</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-placeholder" for="password">Password</label>
                <input id="password-field" type="password" name="password" id="password" class="form-control" ngModel required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-placeholder" for="password">Confirm Password</label>
                <input id="password-field" type="password" name="Cpassword" id="Cpassword" class="form-control" ngModel required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3 btn-sopra" (click)="register($event ,registerForm)">Sign Up</button>
          </div>
        </form>
        <p class="text-center text-dark">Already a member? <a routerLink="/login" class="text-sopra">Log In</a></p>
      </div>
    </div>
  </div>
</div>
