<app-header></app-header>
<div class="container">
  <br>
  <h3>Spread definition:</h3>
  <br>
  <form #spreadForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="currencyPair">Currency pair</label>
          <select name="currencyPair" id="currencyPair" class="form-control" ngModel required #conditionDropdown>
            <option *ngFor="let pair of currencyPairs" value="{{pair}}">{{pair}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="spread">Spread</label>
          <input type="number" name="spread" id="spread" class="form-control" ngModel required placeholder="spread">
          <!-- <small id="helpId" class="text-muted">Help text</small> -->
        </div>
      </div>
    </div>
    <button class="btn btn-primary float-right" (click)="changeSpread(spreadForm)">Set spread</button>
  </form>
  <br>
  <br>
  <hr>
  <h3>Currency states:</h3>
  <br>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>Currency</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Dollar</td>
            <td>Going up</td>
          </tr>
          <tr>
            <td scope="row">Euro</td>
            <td>Going down</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <form #stateForm="ngForm">
        <div class="form-group">
          <label for="titre">Currency</label>
          <select name="orderType" id="orderType" class="form-control" ngModel required #conditionDropdown>
            <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="titre">State</label>
          <select name="orderType" id="orderType" class="form-control" ngModel required #conditionDropdown>
            <option value="up">Going up</option>
            <option value="down">Going down</option>
            <option value="stable">Stable</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>
        <button class="btn btn-primary float-right">Save</button>
      </form>
    </div>
  </div>
  <hr>
  <h3>Recommendation:</h3>
  <br>
  <form #recommendationForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="currencyPair">Currency pair</label>
          <select name="currencyPair" id="currencyPair" class="form-control" ngModel required>
            <option *ngFor="let pair of currencyPairs" value="{{pair}}">{{pair}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="comment">Recommendation</label>
          <input type="text" name="comment" id="comment" class="form-control" ngModel required placeholder="comment">
          <!-- <small id="helpId" class="text-muted">Help text</small> -->
        </div>
      </div>
    </div>
    <button class="btn btn-primary float-right" (click)="addRecommendation(recommendationForm)">Add recommendation</button>
  </form>
</div>
